<h1>All the Events Scheduled</h1>
<%unless session[:current_user_id].nil? %>
<%=@current_user.name%><br>
 <%= link_to "Create Event", new_event_path%>
<% end %>
<%# @events.each do |event| %>
  <%#= event.creator.name %> 
  <%#= event.description %> 
<%# end %>

<h1>Past events</h1>
<% @prev_events.each do |event|%>
<%= event.creator.name %> <br>
  <%= event.description %> <br> <br>
<% end %>

<h1>Future events</h1>
<% @upcoming_events.each do |event|%>
<%= event.creator.name %> <br>
  <%= event.description %> <br> <br>
<% end %>

 <%= link_to "Sign in", sign_in_path%>

 <%= link_to "Sign out", sign_out_path%>